

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }







/* Related demos */
.related {
	padding: 10em 0;
}



@media screen and (max-width: 40em) {

	.codrops-header h1 {
		font-size: 2.5em;
	}
}